<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Control de Ubicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div #map id="map" [hidden]="!user"></div>

 <div *ngIf="user">
   <ion-item>
     <ion-label>User ID: {{ user.uid }}</ion-label>
   </ion-item>

   <ion-button expand="block" (click)="startTracking()" *ngIf="!isTracking">
      <ion-icon name="locate" slot="start"></ion-icon>
      Start Tracking
   </ion-button>

   <ion-button expand="block" (click)="stopTracking()" *ngIf="isTracking">
      <ion-icon name="hand" slot="start"></ion-icon>
      Stop Tracking
   </ion-button>
 </div>
</ion-content>
