<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Control de Ubicaciones
          </ion-title>
        <ion-buttons slot="end">
            <ion-button (click) = 'IrAHelp()'>
              HELP
              <ion-icon name="help-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
     
    </ion-toolbar>
  </ion-header>  

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div #map id="map"></div>
      </ion-col>
      <ion-col>
      <ion-list #lista id='lista'>
        
         <ion-item *ngFor="let pos of ubicaciones | async ">
           
           <ion-label color="success" text-wrap *ngIf="pos.disponible  && !pos.enPedido "> 
             <h1> {{ pos.nombreMotoTaxi }}
                  {{ pos.apellidoMotoTaxi }}</h1>
              Lat: {{ pos.latitud }}
              Lng: {{ pos.longitud }}
             <p>
               Disponible
             </p>  
           </ion-label>
           <ion-label color="danger" text-wrap *ngIf="!pos.disponible "> 
            <h1> {{ pos.nombreMotoTaxi }}
              {{ pos.apellidoMotoTaxi }}</h1>
            Lat: {{ pos.latitud }}
            Lng: {{ pos.longitud }}
             <p>
                No disponible
            </p>   
          </ion-label>
          <ion-label color="primary" text-wrap *ngIf="pos.enPedido"> 
              <h1> {{ pos.nombreMotoTaxi }}
                {{ pos.apellidoMotoTaxi }}</h1>
              Lat: {{ pos.latitud }}
              Lng: {{ pos.longitud }}
               <p>
                  En pedido
              </p>   
            </ion-label>
         </ion-item>
      </ion-list>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      <ion-title>7-TEAM</ion-title>  
    </ion-toolbar>
</ion-footer>
